.botao-customizado_root {
  padding: 16px;
  border: none;

  font-size: 14px;
  opacity: 0.8;
  cursor: pointer;
  color: var(--cor-texto-claro);
  font-weight: 400;
}

.botao-customizado_root:hover {
  opacity: 1;
}

.botao-customizado_primario {
  background-color: var(--cor-primaria);
}

.botao-customizado_secundario {
  background-color: var(--cor-secundaria);
}

.botao-customizado_padrao {
  background-color: var(--cor-cinza);
}
