:root{

  --cor-1:#F6E96B;
  --cor-2:#BEDC74;
  --cor-3:#A2CA71;
  --cor-4:#387F39;
  --cor-5:var(--cor-5);
  --cor-6:var(--cor-6);

}*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root{
min-height: 100vh;
/* background-color */
}