.body-container{

    background-color: aquamarine;

}.imagens-body{
    width: 140px;

}.tituloDois{
    text-align: center;
}.imagem-dragonball{
    width: 150px;
}.imagem-bakugo{
    width: 150px;
}