header{

background-color: aqua;
grid-area: cabecalho;
}
aside{
background-color:blueviolet;
grid-area: lado-esquerdo;
}
main{
background-color: brown;
grid-area: principal;    
}
footer{
background-color: aquamarine;
grid-area: rodape;
}